{{ define "main" }}
<div id="home">
  <div id="headercontainer" class="unscrolled">
    <div id="blurlayer" class="unscrolled"></div>
    <div id="contentlayer" class="unscrolled">
      <div id="logomenuw" class="tablet computer only">
        <a href="#home">
          <div id="logo" class="unscrolled"></div>
        </a>
        <div id="mainnavgrid" class="unscrolled">
          {{range .Params.page_sections}}
          {{if .menue }}
          <a class="mainnavgridcolumn" href="#{{.name |urlize}}">
            <div class="mainnavgridcolumncontent unscrolled" style="border-color:{{partial "colorextr" .farbe_menu.farbe}}">
              {{.name}}
            </div>
          </a>
          {{end}}
          {{end}}
        </div>
      </div>
      <div class="ui mobile only"></div>
    </div>
  </div>
  <div id="homewrapper">
    <div id="homestartwrapper" style="background-image:url({{partial "imgUrl" (dict "img" .Params.startgrafik "params" "c_scale,w_2500,f_auto" )}})">
      <div id="homelogowrapper">
        <img src="{{partial "imgUrl" (dict "img" .Params.startgrafik_logo "params" "f_auto" )}}" />
      </div>
    </div>
    {{range $secIdx,$section:= .Params.page_sections}}
    {{$bckgrd:=""}}
          {{$color:=""}}
          {{$tcolor:=""}}
          {{$teaser:=""}}
          {{range $section.sub_sections}}
          {{if eq .template "themenheader"}}
          {{$bckgrd = .hintergrundbild}}
          {{$color = .farbe.farbe}}
          {{$tcolor = .textfarbe.farbe}}
          {{$teaser = .teaser}}
          {{end}}
          {{end}}
          {{if eq $teaser nil}}{{$teaser = ""}}{{end}}
    <section >
      <div class="anchor" id="{{.name |urlize}}"></div>
      <div class="sectionTitleWrapper" style="background:{{partial "colorextr" $color}}">
        <h2 style="color:{{partial "colorextr" $tcolor}}">{{.name}}</h2>
      </div>
      <div class="SectionTeaserBackground" style="background-image:url({{partial "imgUrl" (dict "img" $bckgrd "params" "c_scale,w_2500,f_auto" )}})"></div>
      {{if gt (len $teaser) 0}}
      <div class="SectionTeaser">
        <div>{{$teaser|safeHTML}}</div>
      </div>
      {{end}}
      <div class="Subsections">
        {{$slastcolor := ""}}
        {{range $subIdx,$subsection := $section.sub_sections}}
        {{$scolor:=""}}
        {{if eq .template "themenabschnitt"}}
          {{$scolor = .farbe.farbe}}
          {{$stcolor := ""}}
          {{$stcolor := .textfarbe_titel_und_content.farbe}}{{if eq $stcolor nil}}{{$stcolor = ""}}{{end}}
          <div 
          class="Subsection idx-{{$subIdx}} teaser-{{if gt (len $teaser) 0}}yes{{else}}no{{end}} {{if eq $slastcolor $scolor}}same-backgrd{{end}}" 
          id="{{(printf "%s--%s" $section.name (plainify .titel)) |urlize}}"
          style="background:{{partial "colorextr" $scolor}}">
            <h3 style="color:{{if gt (len $stcolor) 0}}{{partial "colorextr" $stcolor}}{{else}}inherit{{end}}">
              {{.titel|safeHTML}}
            </h3>
            <h4>
              {{.untertitel|safeHTML}}
            </h4>
            <div 
            style="color:{{if gt (len $stcolor) 0}}{{partial "colorextr" $stcolor}}{{else}}inherit{{end}}" 
            class="content"
            >
            {{.text |safeHTML}}
            </div>
          </div>
          {{$slastcolor = $scolor}}
        {{end}}
        {{if eq .template "bildteaser"}}
          <div class="BildTeaser" style="background-image:url({{partial "imgUrl" (dict "img" .bild "params" "c_scale,w_2500,f_auto" )}})">
            {{if gt (len (plainify .text)) 0}}
            <div class="SectionTeaser">
              <div class="content">{{.text |safeHTML}}</div>
              {{partial "scroll" .}}
            </div>
            {{end}}
          </div>
        {{end}}
        {{end}}
      </div>
    </section>
    {{end}}
  </div>

</div>
</div>
{{ end }}