/*
@red:rgb(178,35,43);
@grey:rgb(92,92,92);
@grey_light:rgb(231,231,231 );
@grey_light237:rgb(237,237,237 );
*/
@weiss:#ffffff;
@weiss75:rgba(255,255,255,0.75);
@creme:rgb(255,250,245);
@creme75:rgba(255,250,245,0.98);
@ecru:#DDD8CE;
@grano:#EEE3CE;
@chameau:#D5C1A0;
@chameau75:rgba(213,193,160,0.75);
@pietra:#E8E8E8;
@esche:#A7A7A7;
@charbon:#656565;
@graphite:#404040;
@malachit:#1D2642;
@siena:#8F0000;
@grege:#AA9982;
@mokka:#766446;
@transparent:rgba(255,255,255,0);

html,
body {
  min-height: 100vh;
  width: 100vw;
  font-size:10px;
}

body {
  font-family: "Crimson Text","Times New Roman", serif;
}

body.fontLoaded {
  font-family: "Crimson Text","Times New Roman", serif;
}

#app {
  min-height: 100vh;
  width: 100vw;
  overflow:hidden;
  background:white;
}
h1{
  font-family: 'Bembo Book W01',"Times New Roman", serif;
}
h2,h3,h4,h5,h6{
  font-family: 'SackersGothicW01-Light',"Times New Roman", serif;
}
#headercontainer{
  position:fixed;
  width:100vw;
  border-bottom:1px solid @weiss;
  z-index:999;
  &.scrolled{
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    height:40px;
  }
  &.unscrolled{
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    height:70px;
  }
  @media only screen and (max-width: 768px) {
    background:transparent!important;
    border:none!important;
  }
  #contentlayer{
    width:100vw;
    top:0;
    left:0;
    position:absolute;
    z-index:1;
    &.scrolled{
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      height:40px;
    }
    &.unscrolled{
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      height:70px;
    }
  }
  #blurlayer{
    @media only screen and (max-width: 768px) {
      background:transparent!important;
    }
    background:rgba(255,255,255,0.7);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index:0;
    position:absolute;
    width:100vw;
    top:0;
    left:0;
    &.scrolled{
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      height:40px;
    }
    &.unscrolled{
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      height:70px;
    }
  }
  #mainnavgrid{
    width:100%;
    @media only screen and (max-width: 768px) {
      width:100vw;
      left:0!important;
    }
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background:white;
    left:calc(20vw - 2rem);
    top:0;
    margin:0!important;
    position:absolute;
    z-index:1;
    &.scrolled{
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      height:40px;
    }
    &.unscrolled{
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      height:50px;
    }
  }
  .mainnavgridcolumn{
    @media only screen and (max-width: 768px) {
      padding:0 6px!important;
      width:auto;
      min-width:auto;
    }
    padding:0 2rem!important;
    min-width:110px;
    cursor:pointer;
  }
  .mainnavgridcolumncontent{
    width:100%;
    color:black;
    font-size:0.9rem;
    letter-spacing:0.1em;
    font-family:'Termina W00 Regular',sans-serif;
    text-transform:uppercase;
    &.scrolled{
      border-top:3px solid;
      transition-property: all;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      line-height:37px;
      font-size:0.9rem;
    }
    &.unscrolled{
      border-top:7px solid;
      transition-property: all;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      line-height:40px;
    }
    @media only screen and (max-width: 768px) {
      &.scrolled{
        border-top:2px solid;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        line-height:20px;
        font-size:0.9rem;
      }
      &.unscrolled{
        border-top:2px solid;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        line-height:35px;
      }
    }
  }
  #logo{
    position:absolute;
    width:20vw;
    background:no-repeat center center white;
    background-size:contain;
    z-index:3;
    &.scrolled{
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      height:40px;
    }
    &.unscrolled{
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      height:70px;
    }
  }
}