/*
@red:rgb(178,35,43);
@grey:rgb(92,92,92);
@grey_light:rgb(231,231,231 );
@grey_light237:rgb(237,237,237 );
*/
@weiss:#ffffff;
@weiss75:rgba(255,255,255,0.75);
@creme:rgb(255,250,245);
@creme75:rgba(255,250,245,0.98);
@ecru:#DDD8CE;
@grano:#EEE3CE;
@chameau:#D5C1A0;
@chameau75:rgba(213,193,160,0.75);
@pietra:#E8E8E8;
@esche:#A7A7A7;
@charbon:#656565;
@graphite:#404040;
@malachit:#1D2642;
@siena:#8F0000;
@grege:#AA9982;
@mokka:#766446;
@transparent:rgba(255,255,255,0);

html,
body {
  min-height: 100vh;
  width: 100vw;
  font-size:10px;
}

body {
  font-family: "Crimson Text","Times New Roman", serif;
}

body.fontLoaded {
  font-family: "Crimson Text","Times New Roman", serif;
}

#app {
  min-height: 100vh;
  width: 100vw;
  overflow:hidden;
  background:white;
}
h1{
  font-family: 'Bembo Book W01',"Times New Roman", serif;
}
h2,h3,h4,h5,h6{
  font-family: 'SackersGothicW01-Light',"Times New Roman", serif;
}
